<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Test</title>
    </head>

    <body>
        <div id="loading">Loading...</div>
        <header>
            <div class="logo">Logo</div>
            <div class="title">Evaluate Text With NLP</div>
            <div class="nav">navigation</div>
        </header>

        <main>
            <div id="inputCont">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <h2>Input Text</h2>
                    <textarea
                        id="name"
                        name="input"
                        placeholder="enter URL"
                    ></textarea>
                    <div id="inv">Inavlid Input Try Again</div>
                    <input
                        type="submit"
                        name=""
                        value="submit"
                        onclick="return Client.handleSubmit(event)"
                        onsubmit="return Client.handleSubmit(event)"
                    />
                </form>
            </div>

            <div id="resultCont">
                <h2>Results:</h2>
                <ul id="results">
                    <li id="agreement"></li>
                    <li id="subjectivity"></li>
                    <li id="confidence"></li>
                    <li id="irony"></li>
                    <li id="score"></li>
                </ul>
            </div>
        </main>

        <footer>
            <p>2021 by Gary Nuñez</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
