header {
    position: absolute;
    top: 0px;
    color: seashell;
    background-color: #00132d;
    height: 70px;
    line-height: 70px;
    width: 100vw;
}

.nav {
    position: absolute;
    right: 20px;
}

.logo {
    position: absolute;
    left: 20px;
}
